* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.box,
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    position: relative;
}

/* .mode {
    position: absolute;
    top: 0;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: 100;
    font-size: large;
    padding: 10px;
} */

.outpara {
    position: absolute;
    top: 0;
    z-index: 2;
    /* Stay on top */
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: 100;
    font-size: large;
    padding: 10px;
}

.maintable {
    width: 100%;
    height: 100%;
}

.box img {
    width: 100%;
    height: 100%;
}

.box1 img {
    width: 100%;
    height: 100%;
}

.box2 img {
    width: 100%;
    height: 100%;
}

.box3 img {
    width: 100%;
    height: 100%;
}

.box4 img {
    width: 100%;
    height: 100%;
}

.box5 img {
    width: 100%;
    height: 100%;
}

.box6 img {
    width: 100%;
    height: 100%;
}

.box7 img {
    width: 100%;
    height: 100%;
}

.box img :hover {
    opacity: 0;
}

.box1 img :hover {
    opacity: 0;
}

.box2 img :hover {
    opacity: 0;
}

.box3 img :hover {
    opacity: 0;
}

.box4 img :hover {
    opacity: 0;
}

.box5 img :hover {
    opacity: 0;
}

.box6 img :hover {
    opacity: 0;
}

.box7 img :hover {
    opacity: 0;
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:black;
    background-color: lightgreen;
    /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 20px;
    font-weight: bold;
}

.hidden:hover {
    opacity: 1;
}

.info {
    background-color: lightslategray;
}

.info1 {
    background-color: lemonchiffon;
}

.info2 {
    background-color: lightgreen;
}

.info3 {
    background-color: lightsteelblue;
}


.images {
    border-radius: 5px;
    border: 1px solid black;
}

.images img:hover {
    transform: scale(1.03);
    border-color: rgb(11, 129, 138);
    transition: border-color 0.3s;
    box-shadow: 0px 2px 4px rgb(161, 139, 14);
    cursor: pointer;
}

.border {
    border: 1px solid black;
    border-radius: 10px;
}

.insidetable {
    align-items: center;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.crew {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
    color: antiquewhite;
    background-color: aqua;

}

.button{
    width: 100%;
   
}

.button1,.button2,.button3,.button4 {
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    color: black;
    background-color: aqua;
    font-size: large;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 

